@font-face {
	font-family: 'pixel';
	src: url(pixel.ttf);
}

body {
	background-color: #FFCCFF;
	font-family: pixel;
}

table {
	width: 100%;
	border-style: none;
}

.butn {
	height: 50px;
	background-color: black;
	color: white;
	border-style: none;
	font-family: pixel;
}

.saas {
	font-size: 25px;
}

@media screen and (min-width:240px) and (max-width:720px) {
	table {
		height: 100%;
		width: 100%;
	}
}
